<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="" name="Keywords">
<meta content="" name="Description">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/static/index/css/bootstrap.css"/>
<link rel="stylesheet" href="/static/index/css/main.css"/>
<link rel="stylesheet" href="/static/index/css/swiper.min.css"/>
<script src="/static/index/js/jquery-1.11.2.min.js"></script>
<script src="/static/index/css/bootstrap.css" type="text/javascript"></script>
<script src="/static/index/js/layer_mobile/layer.js" type="text/javascript"></script>
<script src="/static/index/js/main.js"></script>
<title>搜索结果</title>
</head>
<body>
<!--头部导航begin-->
<header>
    <div class="container clearfix">
        <div class="logo fl">
           <a href="/index"> <img class="middle" src="/static/index/images/logo.png" alt="logo"/></a>
        </div>
        
        <div class="search fr rlt">
            <form action=""method="post">
                <input class=" abs" id="keyword" type="text" placeholder="电影、影人、影院、电视剧"/>
                <input class="middle" id="search" type="button" value="" onClick="submit_btn()"/>
            </form>
        </div>
    </div>
</header>
<!--头部导航end-->
<!--搜索-->
<section>
<div class="search_style clearfix mhome">
<!--暂无-->
<!--<div class="No_time">暂无你搜索的内容！</div>-->
 <div class="search_content clearfix">
   <div class="left_img">  
   <a href="/index/detail" class="video_img">
    <div class="score abs" style="left: 28px;">8.5分</div><img src="/static/index/video/d4.jpg" width="100%"></a>
     <a href="/index/play" class="btn Play_btn btn-primary"><i class="triangle-left "></i>立即播放</a></div>
   <div class="right_content">
    <div class="mar10">
    <dl>
    <dt> <a href="#" class="title_name">寻找前世之旅2</a></dt>
    <dd><label class="label_name">状态：</label><span class="content"><a href="#">更新至10集</a></span></dd>
    <dd><label class="label_name">导演：</label><span class="content"><a href="#">李路</a></span></dd>
    <dd><label class="label_name">年份：</label><span class="content"><a href="#">2017</a></span></dd>
    <dd><label class="label_name">类型：</label><span class="content"><a href="#">剧情</a> / <a href="#">都市</a></span></dd>
    <dd><label class="label_name">主演：</label><span class="content"><a href="#">陆毅</a> / <a href="#">张丰毅</a> / <a href="#">吴刚</a> / <a href="#">许亚军</a> / <a href="#">翟万臣</a> / <a href="#">张志坚 </a></span></dd>
     </dl>
    </div>
   </div>
 </div>
  <div class="search_content clearfix">
   <div class="left_img">  
   <a href="/index/detail" class="video_img"><div class="score abs" style="left: 28px;">8.5分</div><img src="/static/index/video/d4.jpg" width="100%"></a>
    <a href="/index/play" class="btn Play_btn btn-primary"><i class="triangle-left "></i>立即播放</a></div>
   <div class="right_content">
    <div class="mar10">
    <dl>
    <dt> <a href="#" class="title_name">寻找前世之旅2</a></dt>
    <dd><label class="label_name">状态：</label><span class="content"><a href="#">更新至10集</a></span></dd>
    <dd><label class="label_name">导演：</label><span class="content"><a href="#">李路</a></span></dd>
    <dd><label class="label_name">年份：</label><span class="content"><a href="#">2017</a></span></dd>
    <dd><label class="label_name">类型：</label><span class="content"><a href="#">剧情</a> / <a href="#">都市</a></span></dd>
    <dd><label class="label_name">主演：</label><span class="content"><a href="#">陆毅</a> / <a href="#">张丰毅</a> / <a href="#">吴刚</a> / <a href="#">许亚军</a> / <a href="#">翟万臣</a> / <a href="#">张志坚 </a></span></dd>
     </dl>
    </div>
   </div>
 </div>
  <div class="search_content clearfix">
   <div class="left_img">  
   <a href="/index/detail" class="video_img">
    <div class="score abs" style="left: 28px;">8.5分</div><img src="/static/index/video/d4.jpg" width="100%"></a> <a href="/index/play" class="btn Play_btn btn-primary"><i class="triangle-left "></i>立即播放</a></div>
   <div class="right_content">
    <div class="mar10">
    <dl>
    <dt> <a href="#" class="title_name">寻找前世之旅2</a></dt>
    <dd><label class="label_name">状态：</label><span class="content"><a href="#">更新至10集</a></span></dd>
    <dd><label class="label_name">导演：</label><span class="content"><a href="#">李路</a></span></dd>
    <dd><label class="label_name">年份：</label><span class="content"><a href="#">2017</a></span></dd>
    <dd><label class="label_name">类型：</label><span class="content"><a href="#">剧情</a> / <a href="#">都市</a></span></dd>
    <dd><label class="label_name">主演：</label><span class="content"><a href="#">陆毅</a> / <a href="#">张丰毅</a> / <a href="#">吴刚</a> / <a href="#">许亚军</a> / <a href="#">翟万臣</a> / <a href="#">张志坚 </a></span></dd>
     </dl>
    </div>
   </div>
 </div>
</div>
</section>
<!--搜索end-->
<div class="full hide"></div>
<!--底部begin-->
<div class="foot">
    Copyright© 2015-2025 Dianying.com
</div>
</body>
</html>
<script> /*********搜索*********/
function submit_btn(){
	 $(".search input[type$='text']").each(function(n){
		  if($(this).val()=="")
          {
               
		 layer.open({
		  title: [
			'提示框',
			'background-color:#24baf1; color:#fff;'
		  ]
		  ,anim: 'up'
		  ,content: '搜索框不能为空'
		  ,btn: ['确认', '取消']
		}); 
            return false;            
          } 
		 else{
			 location.href="/index/search";
			 
			 }
		 })		
}</script>