<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <base  />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>قىزىل بولاق ئېلىۋېلىڭ</title>
<html>
<body>
<div id="Layer1" style="position:absolute; left:0px; top:0px; width:100%; height:100%">
<img src="/static/weixin/hongbao/img/ok.png" width="100%" height="100%"/>
</div>
</body>
</html>