<!DOCTYPE HTML>
<html>
<head>
    <title>خوتۇن ۋەسۋەسىسى 2 -بۆلۈم 1 - قىسىم</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="https://zh.soft.cool.saahj.cn/assets/wap/global/css/weui.css">
    <link href="https://zh.soft.cool.saahj.cn/assets/wap/global/css/font.css" rel="stylesheet">
    <link href="https://zh.soft.cool.saahj.cn/assets/wap/filim_missions/css/uslub.css" rel="stylesheet">

</head>
<body>

<div class="top">
    <img src="https://zh.soft.cool.saahj.cn/Uploads/FilimMissions/2018/11/18/2018-11-18-13-04-23-5bf0f2d71ed3f.jpeg"
         class="top_icon">
    <p style="margin-right:10px;color:#fff">خوتۇن ۋەسۋەسىسى 2 -بۆلۈم 1 - قىسىم</p>
</div>


<div class="yol">نۆۋەتتىكى ئورنىڭىز : باشبەت > يېڭى كىنولار > خوتۇن ۋەسۋەسىسى 2 -بۆلۈم</div>

<div class="playbox"
     style="background:url(https://zh.soft.cool.saahj.cn/Uploads/FilimMissions/2018/11/18/2018-11-18-13-04-23-5bf0f2d71ed3f.jpeg);background-size: cover;background-position: center;">
</div>
<div class="playmask">
    <div class="play" onClick="returnDownTips()"
         style="background: url(https://zh.soft.cool.saahj.cn/assets/wap/filim_missions/images/play.png);background-size: cover;background-position: center;"></div>
    <p style="color:#fff">00:00</p>
</div>
<div class="ad-tips">
    بەتتە قالايمىقان ئېلان چىقىۋالغان بولسا بەتنى يېڭىلاڭ، بولمىسا فىلىم قويۇلمايدۇ
</div>
<div class="info" id="waitingTips" style="display: none;">
    <p>سەل ساقلاڭ</p>
    <div class="mezmun" style="height: 55px !important;color: #d81c34;">
        فىلىمنىڭ قوزغىتىلىپ قويۇلىشى ئۈچۈن ئازراق ۋاقىت كېتىدۇ، شۇڭا سەۋىرچانلىق بىلەن ساقلىشىڭىزنى سورايمىز
    </div>
</div>
<div class="info">
    <p>قىسىم تاللاپ كۆرۈڭ </p>
    <div class="qisim-box">
        <a href="https://zh.soft.cool.saahj.cn/wap/filim/1/1" class="qisimlar">1 - قىسىم</a>
        <a href="https://zh.soft.cool.saahj.cn/wap/filim/1/2" class="qisimlar">2 - قىسىم</a>
        <a href="https://zh.soft.cool.saahj.cn/wap/filim/1/3" class="qisimlar">3 - قىسىم</a>
        <a href="https://zh.soft.cool.saahj.cn/wap/filim/1/4" class="qisimlar">4 - قىسىم</a>
        <a href="https://zh.soft.cool.saahj.cn/wap/filim/1/5" class="qisimlar">5 - قىسىم</a>
        <a href="https://zh.soft.cool.saahj.cn/wap/filim/1/6" class="qisimlar">6 - قىسىم</a>
    </div>
</div>

<div class="info">
    <p>فىلىم تەپسىلاتى</p>
    <div class="mezmun">
        ئەسلىدە مۇلايىم، قەيسەر ئايال يولدىشىنىڭ ئاشنا تۇتىشى بىلەن، قىساس ئېلىش ئۈچۈن ساھىبجامالغا ئايلىنىدۇ، بۇ
        ۋەقەلىكنى ئاڭلاپ ھەقىچان &laquo; خوتۇن ۋەسۋەسىسى &raquo; يادىڭىزغا كەلدىغۇ دەيمەن ؟ 2008- يىلى كورىيەدە تۇنجى
        قويۇلغان شۇنداقلا كۆرۈلۈش نىسپىتى 40 پىرسەنتتىن ئاشقان، مۇشۇ تۈردىكى تىياتېرلار ئىچىدە ئاڭ ئۇتۇقلۇق چىققان
        تىياتېر ھېسابلىنىدۇ . مانا بۈگۈن بىز &laquo; خوتۇن ۋەسۋەسىسى 2 - بۆلۈمىنى &raquo; ھوزۇرۇڭلارغا سۇنماقچى، كۆرۈشكە
        ئالدىراڭ، ساقلىۋېلىپ كۆرىشىڭىزگە ئەرزىيدۇ .
    </div>
</div>


<div class="js_dialog" id="dialog" style="opacity: 1;display:none">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd" id="message"></div>
        <div class="weui-dialog__ft">
            <a href="javascript:$('#dialog').fadeOut(400);"
               class="weui-dialog__btn weui-dialog__btn_primary">ماقۇل</a>
        </div>
    </div>
</div>

<script type="text/javascript" src='//res.wx.qq.com/open/js/jweixin-1.0.0.js'></script>
<script type="text/javascript" src="https://zh.soft.cool.saahj.cn/assets/wap/global/js/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
        timeline = 0;
        appmessage = 0;
        appmessageLimit = parseInt('2');
        filim_url = 'https://player.youku.com/embed/XMTQ5NzU5ODc4OA==';
        if ('1' == getCookie('play')) {
            $(".playmask").hide();
            if ('[url]' == filim_url.substr(-5)) {
                setCookie('play', '1', 's1800');
                var _film_url = filim_url.substr(0, filim_url.length - 5);
                window.location.href = _film_url;
                return false;
            }
            $(".playbox").attr('style', '').css('filter', 'blur(0)').append('<iframe src="https://player.youku.com/embed/XMTQ5NzU5ODc4OA==" frameborder="0" style="width:100%;height:230px;"></iframe>');
            whaitingTips();
        }

        setTimeout(function () {
            $("div.ad-tips").hide();
        }, 5000);
    });
    wx.config({
        "debug": false,
        "appId": "{{ appid }}",
        "nonceStr": "{{ signature.nonceStr }}",
        "timestamp": {{ signature.timestamp  }},
        "signature": "{{ signature.signature }}",
        "jsApiList": ["onMenuShareTimeline", "onMenuShareAppMessage"]
    });
    wx.ready(function () {
        // 分享到朋友圈
        wx.onMenuShareTimeline({
            title: 'خوتۇن ۋەسۋەسىسى 2 - بۆلۈم', // 分享标题
            link: 'http://www.mutallip.cn/index/share/?key={{ key }}', // 分享链接
            imgUrl: 'https://zh.soft.cool.saahj.cn/Uploads/FilimMissions/2018/11/18/2018-11-18-13-04-23-5bf0f2d71ebf8.jpeg', // 分享图标
            success: function (res) {
                timeline++;
                var appmessageDec = appmessageLimit - appmessage;
                if (appmessage < appmessageLimit) {
                    Tips("چەمبىرەككە چىقاردىڭىز، يەنە" + appmessageDec + "دانە ئۈندىدار توپىغا يوللىسىڭىزلا كۆرەلەيسىز");
                }
                if (appmessage >= appmessageLimit) {
                    $(".playmask").hide();
                    if ('[url]' == filim_url.substr(-5)) {
                        setCookie('play', '1', 's1800');
                        var _film_url = filim_url.substr(0, filim_url.length - 5);
                        window.location.href = _film_url;
                        return false;
                    }
                    $(".playbox").attr('style', '').css('filter', 'blur(0)').append('<iframe src="https://player.youku.com/embed/XMTQ5NzU5ODc4OA==" frameborder="0" style="width:100%;height:230px;"></iframe>');
                    setCookie('play', '1', 's1800');
                    whaitingTips();
                    closeTips();
                }
            }
        });
        // 分享给朋友
        wx.onMenuShareAppMessage({
            title: 'خوتۇن ۋەسۋەسىسى 2 - بۆلۈم', // 分享标题
            desc: 'مۇشۇ جاينى بېسىپ كۆرۈڭ', // 分享描述
            link: 'http://www.mutallip.cn/index/share/?key={{ key }}', // 分享链接
            imgUrl: 'https://zh.soft.cool.saahj.cn/Uploads/FilimMissions/2018/11/18/2018-11-18-13-04-23-5bf0f2d71ebf8.jpeg', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function (res) {
                ++appmessage;
                var appmessageDec = appmessageLimit - appmessage;
                if (appmessage < appmessageLimit) {
                    Tips(' يەنە ' + appmessageDec + " ئۈندىدار توپىغا ۋە چەمبەرەككە يوللىۋېىپ كۆرۈڭ");
                }

                if (appmessage >= appmessageLimit && timeline == 0) {
                    Tips("ئەمدى دوستلار چەمبىرىكىگە يوللىۋېتىپ كۆرسىڭىز بولىدۇ");
                }

                if (appmessage >= appmessageLimit && timeline == 1) {
                    $(".playmask").hide();
                    if ('[url]' == filim_url.substr(-5)) {
                        setCookie('play', '1', 's1800');
                        var _film_url = filim_url.substr(0, filim_url.length - 5);
                        window.location.href = _film_url;
                        return false;
                    }
                    $(".playbox").attr('style', '').css('filter', 'blur(0)').append('<iframe src="https://player.youku.com/embed/XMTQ5NzU5ODc4OA==" frameborder="0" style="width:100%;height:230px;"></iframe>');
                    setCookie('play', '1', 's1800');
                    whaitingTips();
                    closeTips();
                }
            },
        });
    });

    function Tips(message) {
        if ($.trim(message) == '') return false;

        $("#message").html(message);
        $('#dialog').fadeIn(300);
    }
    function closeTips() {
        $('#dialog').fadeOut(300);
    }

    function returnDownTips() {
        var appmessageDec = appmessageLimit - appmessage;
        if (0 == appmessage) {
            Tips(appmessageDec + "دانە ئۈندىدار توپىغا ۋە چەمبەرەككە يوللىۋېىپ كۆرۈڭ");
        } else if (appmessage < appmessageLimit) {
            Tips(' يەنە ' + appmessageDec + "دانە ئۈندىدار توپىغا ۋە چەمبەرەككە يوللىۋېىپ كۆرۈڭ");
        }

        if (appmessage >= appmessageLimit && timeline == 0) {
            Tips("ئەمدى دوستلار چەمبىرىكىگە يوللىۋېتىپ كۆرسىڭىز بولىدۇ");
        }

        if (appmessage >= appmessageLimit && timeline == 1) {
            $(".playmask").hide();
            if ('[url]' == filim_url.substr(-5)) {
                setCookie('play', '1', 's1800');
                var _film_url = filim_url.substr(0, filim_url.length - 5);
                window.location.href = _film_url;
                return false;
            }
            $(".playbox").attr('style', '').css('filter', 'blur(0)').append('<iframe src="https://player.youku.com/embed/XMTQ5NzU5ODc4OA==" frameborder="0" style="width:100%;height:230px;"></iframe>');
            setCookie('play', '1', 's1800');
            whaitingTips();
            closeTips();
        }
    }
    //s20是代表20秒
    //h是指小时，如12小时则是：h12
    //d是天数，30天则：d30
    function setCookie(name, value, time) {
        var strsec = getsec(time);
        var exp = new Date();
        exp.setTime(exp.getTime() + strsec * 1);
        document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString();
    }
    function getsec(str) {
        var str1 = str.substring(1, str.length) * 1;
        var str2 = str.substring(0, 1);
        if (str2 == "s") {
            return str1 * 1000;
        }
        else if (str2 == "h") {
            return str1 * 60 * 60 * 1000;
        }
        else if (str2 == "d") {
            return str1 * 24 * 60 * 60 * 1000;
        }
    }
    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
    }
    function whaitingTips() {
        $("#waitingTips").show();
        setTimeout(function () {
            $("#waitingTips").hide();
        }, 15000)
    }

</script>
</body>
</html>